.list-prices {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 0;
    padding: 2px 5px;
    background-color: #0e0e0e47;
}

.list-prices .list-inline-item:not(:last-child) {
    margin-right: -5px;
}

.list-prices .list-inline-item.active {
    animation: bound-anim 0.5s infinite;
}

.list-prices .list-inline-item:hover {
    cursor: pointer;
}

.list-prices .candle-item {
    font-size: 25px;
}

.list-prices .candle-item.candle-success {
    color: #33cc66;
}

.list-prices .candle-item.candle-danger {
    color: #ff3333;
}

.setting-profit .bg-secondary {
    border-radius: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 0;
    background: #2e2e4a!important;
    background-color: #2e2e4a;
    border: 1px solid hsla(0, 0%, 100%, .1);
}

.setting-profit .bg-secondary div {
    padding: 8px;
}

.stop-loss-btn,
.take-profit-btn {
    position: relative;
    cursor: pointer;
}

.stop-loss-btn {
    border-left: 1px solid #45455f;
    border-right: 1px solid #45455f;
}

.take-profit-btn {
    border-right: 1px solid #45455f;
    border-left: 1px solid #45455f;
}

.setting-profit .setting-profit-text {
    position: relative;
    z-index: 10;
}

.setting-profit .bg-secondary .percent {
    position: absolute;
    top: 0;
    height: 100%;
}

.setting-profit .bg-secondary .stop-loss-percent {
    background-color: #2e2e4a;
    right: 0;
}

.setting-profit .bg-secondary .take-profit-percent {
    background-color: #2e2e4a;
    left: 0;
}

.btn-run {
    width: 100%;
    background: #00bcd4!important;
    border-color: #00bcd4!important;
    color: #fff!important
}

.btn-run:hover {
    background-color: #00bcd4;
    border-color: #00bcd4;
    color: #fff
}

.btn-run.focus,
.btn-run:focus {
    box-shadow: 0 0 0 2px #00bcd4
}

.btn-stop {
    width: 100%;
    background: #ed473a!important;
    border-color: #ed473a!important;
    color: #fff!important
}

.btn-stop:hover {
    background-color: #ed473a;
    border-color: #ed473a;
    color: #fff
}

.btn-stop.focus,
.btn-run:focus {
    box-shadow: 0 0 0 2px #ed473a
}

.row hr {
    width: calc(100% - 25px);
}

.mg-b-50 {
    margin-bottom: 50px;
}

.underground {
    background-image: url(/assets/images/background.svg);
    padd
}

@keyframes bound-anim {
    0%,
    100% {
        top: 0;
        transform: scale(1);
    }
    30% {
        top: -60%;
        transform: scale(0.96, 1.04);
    }
    60% {
        transform: scale(1);
    }
    90% {
        top: 0;
        transform: scale(1.15, 0.9);
    }
}

.zoom-in-zoom-out {
    animation: zoom-in-zoom-out 2s ease-out infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(0.5, 0.5);
    }
    50% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(0.5, 0.5);
    }
}