a, a:hover {
    color: #000000;
}

.bg-primary {
    background: #6259ca!important
}

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: #5a51c7!important
}

.bg-primary-gradient {
    background: linear-gradient(to bottom right, #9e88f5 0, #6259ca)!important
}

a.bg-primary-gradient:focus, a.bg-primary-gradient:hover, button.bg-primary-gradient:focus, button.bg-primary-gradient:hover {
    background-color: #6259ca!important
}

.border-primary {
    border-color: #8580c1!important
}

.text-primary {
    color: #a6166f!important;
}

a.text-primary:focus, a.text-primary:hover {
    color: #4e12b6!important
}

.table-primary, .table-primary>td, .table-primary>th {
    background-color: #d2cdf9
}

.table-hover .table-primary:hover, .table-hover .table-primary:hover>td, .table-hover .table-primary:hover>th {
    background-color: #b7cded
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #6259ca
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #6259ca!important;
    border: 1px solid #6259ca!important
}

.btn-primary {
    background: #4bc959!important;
    border-color: #4bc959!important;
    color: #fff!important;
}

.btn-primary:hover {
    background-color: #5a51c7;
    border-color: #5a51c7;
    color: #fff
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 2px rgba(98, 89, 202, .9)
}

.btn-primary.disabled, .btn-primary:disabled, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #5a51c7;
    border-color: #5a51c7;
    color: #fff
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 2px rgba(98, 89, 202, .9)
}

.btn-primary-light {
    background: #d6d2fb!important;
    border-color: #d6d2fb!important;
    color: #6259ca
}

.btn-primary-light:hover {
    background-color: #5a51c7!important;
    border-color: #5a51c7;
    color: #fff
}

.btn-primary-light.focus, .btn-primary-light:focus {
    box-shadow: 0 0 0 2px rgba(98, 89, 202, .9)
}

.btn-primary-gradient {
    background: linear-gradient(to bottom right, #9e88f5 0, #6259ca)!important;
    border-color: #6259ca!important;
    box-shadow: 0 5px 10px rgba(98, 89, 202, .3);
    color: #fff
}

.btn-primary-gradient:hover {
    background-color: #6259ca;
    border-color: #6259ca;
    color: #fff
}

.btn-primary-gradient.focus, .btn-primary-gradient:focus {
    box-shadow: 0 0 0 2px rgba(98, 89, 202, .9)
}

.btn-primary-gradient.disabled, .btn-primary-gradient:disabled, .btn-primary-gradient:not(:disabled):not(.disabled).active, .btn-primary-gradient:not(:disabled):not(.disabled):active, .show>.btn-primary-gradient.dropdown-toggle {
    background-color: #6259ca;
    border-color: #6259ca;
    color: #fff
}

.btn-primary-gradient:not(:disabled):not(.disabled).active:focus, .btn-primary-gradient:not(:disabled):not(.disabled):active:focus, .show>.btn-primary-gradient.dropdown-toggle:focus {
    box-shadow: 0 0 0 2px rgba(98, 89, 202, .9)
}

.btn-outline-primary {
    background: transparent;
    background-image: none;
    border-color: #6259ca;
    color: #6259ca
}

.btn-outline-primary:hover {
    background: #5a51c7;
    border-color: #5a51c7;
    color: #fff
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: 0 0 0 2px rgba(98, 89, 202, .1)
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    background-color: transparent;
    color: #6259ca
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    background-color: #6259ca;
    border-color: #6259ca;
    color: #fff
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 2px rgba(98, 89, 202, .1)
}

.btn-link {
    color: #6259ca
}

.btn-link:hover {
    color: #5a51c7
}

.drop-icon-wrap .drop-icon-item:hover, .dropdown-item.active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
    color: #6259ca
}

.custom-control-input:checked~.custom-control-label:before {
    background-color: #6259ca;
    border-color: #6259ca;
    color: #fff
}

.custom-checkbox .custom-control-input:checked~.custom-control-label:before, .custom-checkbox .custom-control-input:disabled:checked~.custom-control-label:before, .custom-checkbox .custom-control-input:indeterminate~.custom-control-label:before {
    background-color: #6259ca
}

.custom-radio .custom-control-input:checked~.custom-control-label:before {
    background-color: #6259ca;
    border-color: #6259ca
}

.custom-radio .custom-control-input:disabled:checked~.custom-control-label:before {
    background-color: #6259ca
}

.form-file-input:focus~.form-file-label:after, .form-select:focus {
    border-color: none
}

.form-file-label:after {
    background-color: #6259ca
}

.custom-range::-moz-range-thumb, .custom-range::-ms-thumb, .custom-range::-webkit-slider-thumb {
    background-color: #6259ca
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #6259ca
}

.page-link:hover {
    color: #5a51c7
}

.page-item.active .page-link {
    background-color: #6259ca;
    border-color: #6259ca;
    color: #fff
}

.range.range-primary input[type=range]::-moz-slider-thumb, .range.range-primary input[type=range]::-webkit-slider-thumb {
    background-color: #6259ca
}

.range.range-primary output {
    background-color: #6259ca
}

.range.range-primary input[type=range] {
    outline-color: #6259ca
}

.nav-tabs .nav-item1 .nav-link.active, .nav-tabs .nav-item1 .nav-link:hover:not(.disabled), .panel.price>.panel-heading {
    background: #6259ca
}

.pop-primary {
    color: #6259ca
}

.heading-primary {
    background-color: #6259ca;
    color: #fff;
    padding: 5px
}

.breadcrumb-item.active {
    color: #f5f3f9
}

.breadcrumb-item1 a, .breadcrumb-item2 a {
    color: #495584
}

.panel-title1 a {
    background: #f2f1f9!important
}

.btn.dropdown-toggle.btn-primary~.dropdown-menu .dropdown-plus-title {
    border-color: #6259ca!important
}

.panel-default>.panel-heading {
    color: #6259ca
}

.alert-primary {
    background-color: rgba(98, 89, 202, .1);
    border-color: rgba(98, 89, 202, .01);
    color: #6259ca
}

.alert-primary hr {
    border-top-color: #6259ca
}

.alert-primary .alert-link {
    color: #6259ca
}

.list-group-item-primary {
    background-color: #cbdbf2;
    color: #6259ca
}

.list-group-item-primary.list-group-item-action:focus, .list-group-item-primary.list-group-item-action:hover {
    background-color: #b7cded;
    color: #6259ca
}

.list-group-item-primary.list-group-item-action.active {
    background-color: #6259ca;
    border-color: #6259ca;
    color: #fff
}

.header-bg {
    background: #6259ca;
    background: -webkit- linear-gradient(to bottom right, #9e88f5 0, #6259ca)!important;
    background: linear-gradient(to bottom right, #9e88f5 0, #6259ca)!important
}

.footer a:not(.btn) {
    color: #6259ca
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover:not(.disabled) {
    background: #6259ca
}

@media (max-width:992px) {
    .nav-item.with-sub .sub-item {
        border-top: 2px solid #6259ca
    }
}

.expanel-primary>.expanel-heading {
    background-color: #6259ca!important;
    border-color: #6259ca!important;
    color: #fff!important
}

.login-img {
    background: url(/assets/images/brand/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.avatar {
    background: #e3e1f5 no-repeat 50%/cover
}

.cube1, .cube2, .double-bounce1, .double-bounce2, .spinner, .spinner-lg {
    background-color: #6259ca
}

.lds-heart div, .lds-heart div:after, .lds-heart div:before {
    background: #6259ca
}

.lds-ring div {
    border: 6px solid transparent;
    border-top-color: #6259ca
}

.lds-hourglass:after {
    border-color: #6259ca transparent;
    border-style: solid;
    border-width: 26px
}

.tag-primary, a.chip:hover {
    background-color: #6259ca
}

.tag-primary {
    color: #fff
}

.selectgroup-input:checked+.selectgroup-button {
    background: #f6f4fb;
    border-color: #6259ca;
    color: #6259ca;
    z-index: 1
}

.selectgroup-input:focus+.selectgroup-button {
    border-color: #6259ca;
    box-shadow: 0 0 0 2px rgba(98, 89, 202, .25);
    color: #6259ca;
    z-index: 2
}

.ui-datepicker .ui-datepicker-title {
    color: #6259ca
}

.timeline--horizontal .timeline-divider {
    background: #6259ca!important
}

#back-to-top {
    background-image: linear-gradient(to bottom right, #9e88f5 0, #6259ca)
}

#back-to-top:hover {
    border: 2px solid #6259ca;
    color: #6259ca!important
}

.tabs-menu1 ul li .active {
    border-bottom: 3px solid #6259ca
}

.tab-content i, .tabs-menu2 ul li .active {
    color: #ffffff;
}

.tab-content .btn i {
    color: #fff
}

.rating-stars .rating-stars-container .rating-star.is--active .fa-heart, .rating-stars .rating-stars-container .rating-star.is--hover .fa-heart {
    color: #6259ca
}

.message-feed:not(.right) .mf-content {
    background: #6259ca;
    color: #fff
}

.message-feed:not(.right) .mf-content:before {
    border-right-color: #6259ca
}

.msb-reply button {
    background: #6259ca
}

.wizard-card .moving-tab {
    background: linear-gradient(to bottom right, #9e88f5 0, #6259ca);
    margin-top: 5px
}

.cal1 .clndr .clndr-table .header-days {
    background: #fff
}

.cal1 .clndr .clndr-table tr .day.my-today.event, .cal1 .clndr .clndr-table tr .day.today.event {
    background: #6259ca
}

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button, .cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
    background: #6259ca;
    border-radius: 5px;
    color: #fff
}

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover, .cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover, .fc button {
    background: #6259ca
}

.fc-event {
    border: 1px solid #6259ca
}

.fc-event, .fc-event-dot {
    background-color: #6259ca
}

div.conv-form-wrapper div.options div.option {
    border: 1px solid #6259ca;
    color: #6259ca
}

form.convFormDynamic button.submit {
    border: 1px solid #6259ca!important;
    color: #6259ca
}

div.conv-form-wrapper div.options div.option.selected {
    background: #6259ca;
    color: #fff
}

div.conv-form-wrapper div.options div.option.selected:hover {
    background: #6259ca
}

form.convFormDynamic button.submit:hover {
    background: #6259ca!important;
    color: #fff
}

.addui-slider .addui-slider-track .addui-slider-handle:after, .addui-slider .addui-slider-track .addui-slider-range, div.conv-form-wrapper div#messages div.message.from {
    background: #6259ca
}

.timeline__item:after {
    border: 6px solid #6259ca
}

.accordionjs .acc_section.acc_active>.acc_head {
    background: #f2f1f9;
    color: #6259ca!important
}

.tab_wrapper>ul li.active {
    background: #6259ca;
    border-color: #6259ca
}

.tab_wrapper.right_side>ul li.active:after {
    background: #6259ca
}

.cal1 .clndr .clndr-table tr .day.my-today, .cal1 .clndr .clndr-table tr .day.today {
    background: #fff;
    color: #343a40
}

.cal1 .clndr .clndr-table tr .day.my-today:hover, .cal1 .clndr .clndr-table tr .day.today:hover {
    background: #5a51c7;
    color: #fff
}

.weather-card .top {
    background: #6259ca
}

.primary .pricing-divider {
    background: #6259ca!important
}

.product-grid6 .title a:hover {
    color: #6259ca
}

.product-grid6 .icons li a {
    border: 1px solid #eaedf1;
    color: #6e84a3
}

.product-grid6 .icons li a:hover {
    color: #fff
}

.card-counter.primary, .product-grid6 .icons li a:after, .product-grid6 .icons li a:before, .product-grid6 .icons li a:hover {
    background-image: linear-gradient(to bottom right, #9e88f5 0, #6259ca)
}

.card-counter.primary {
    color: #fff
}

#user-profile .profile-details a>i, #user-profile .profile-details i {
    color: #6259ca
}

@media (max-width:767.98px) and (min-width:576px) {
    .search-show .search-element {
        background-image: linear-gradient(to bottom right, #9e88f5 0, #6259ca)
    }
}

@media (max-width:575.98px) {
    .search-show .search-element {
        background-image: linear-gradient(to bottom right, #9e88f5 0, #6259ca)
    }
}

.text-primary-gradient {
    background: linear-gradient(to bottom right, #9e88f5 0, #6259ca)
}

.chat .msg_head, .msb-reply button {
    background: #6259ca
}

.footer-payments a:hover, .footer-social-list a, .footer-social-list a:hover, .sw-theme-dots .nav-tabs .nav-link:hover:not(.disabled), .top-footer a:hover, .top-footer a address:hover, .top-footer p:hover {
    color: #6259ca
}

.custom-switch-input:checked~.custom-switch-indicator, .label-primary {
    background: #6259ca
}

.label-primary {
    color: #fff
}

.bg-primary-transparent {
    background-color: rgba(98, 89, 202, .1)
}

.text-primary-shadow {
    text-shadow: 0 5px 10px rgba(98, 89, 202, .3)
}

.chart-dropshadow-primary {
    filter: drop-shadow(-6px 12px 4px rgba(98, 89, 202, .2))
}

.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active {
    background: #544bb9
}

.side-menu__item.active {
    color: #fff
}

.side-menu__item.active .side-menu__icon {
    color: #fff!important
}

.horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li a:hover, .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a:hover, .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a:hover {
    color: #6259ca
}

.onoffswitch-checkbox:checked+.onoffswitch-label {
    background-color: #6259ca;
    border-color: #6259ca
}

.onoffswitch-checkbox:checked+.onoffswitch-label:before {
    border-color: #6259ca
}

.onoffswitch2-checkbox:checked+.onoffswitch2-label {
    background-color: #6259ca
}

.onoffswitch2-checkbox:checked+.onoffswitch2-label:before, .onoffswitch2-checkbox:checked+.onoffswitch-label2 {
    border-color: #6259ca
}

.hor-menu .horizontalMenu>.horizontalMenu-list>li>a.active, .hor-menu .horizontalMenu>.horizontalMenu-list>li>a:hover {
    color: #6259ca
}

.dark-mode .alert-primary, .dark-mode .breadcrumb-item.active, .dark-mode .dropdown-item:hover {
    color: #827ae0
}

.dark-mode .dropdown-item.active, .dropdown-item:active, .dropdown-item:focus {
    color: #8061ce
}

.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li a:hover, .dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a:hover, .dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a:hover {
    color: #827ae0
}

.dark-mode .side-menu__item.active, .dark-mode .side-menu__item.active .side-menu__icon, .dark-mode .side-menu__item:focus, .dark-mode .side-menu__item:hover {
    color: #dedefd!important
}

.dark-mode .side-menu__item.active {
    color: #fff!important
}

.dark-mode.dark-menu .side-menu__item.active .side-menu__icon, .dark-mode.dark-menu .side-menu__item:focus .side-menu__icon, .dark-mode.dark-menu .side-menu__item:hover .side-menu__icon, .dark-mode .footer a:not(.btn), .dark-mode .side-menu__item:focus, .dark-mode .side-menu__item:hover {
    color: #827ae0
}

.dark-mode .text-primary {
    color: #827ae0!important
}

.dark-mode a.text-primary:focus, .dark-mode a.text-primary:hover {
    color: #746ae8!important
}

.dark-mode .panel-default>.panel-heading, .dark-mode .panel-tabs a {
    color: #fff
}

.dark-mode .sidebar-icon {
    color: #827ae0!important
}

.dark-mode .side-menu__item.active, .dark-mode .side-menu__item.active .side-menu__icon {
    color: #fff
}

.dark-hor-menu .hor-menu .horizontalMenu>.horizontalMenu-list>li>a.active, .dark-hor-menu .hor-menu .horizontalMenu>.horizontalMenu-list>li>a:hover, .light-hor-menu .hor-menu .horizontalMenu>.horizontalMenu-list>li>a.active, .light-hor-menu .hor-menu .horizontalMenu>.horizontalMenu-list>li>a:hover {
    background: #6259ca;
    color: #fff
}

.light-menu.dark-mode .side-menu__item.active, .light-menu.dark-mode .side-menu__item.active .side-menu__icon, .light-menu.dark-mode .side-menu__item:focus, .light-menu.dark-mode .side-menu__item:focus .side-menu__icon, .light-menu.dark-mode .side-menu__item:hover, .light-menu.dark-mode .side-menu__item:hover .side-menu__icon {
    color: #8061ce
}

.light-menu .side-menu__item.active .side-menu__icon {
    color: #fff
}

.light-menu .side-menu__item.active, .light-menu .side-menu__item:focus, .light-menu .side-menu__item:focus .side-menu__icon, .light-menu .side-menu__item:hover, .light-menu .side-menu__item:hover .side-menu__icon {
    color: #6259ca!important
}

.default-body .app-sidebar {
    background: #6259ca!important
}

.transparent-mode .side-menu__item.active, .transparent-mode .side-menu__item.active .side-menu__icon, .transparent-mode .side-menu__item:focus, .transparent-mode .side-menu__item:focus .side-menu__icon, .transparent-mode .side-menu__item:hover, .transparent-mode .side-menu__item:hover .side-menu__icon {
    color: #6259ca
}

.color-hor-header .header.hor-header {
    background: #6259ca;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1)
}

.horizontal-main2.horizontal-main {
    background: #6259ca
}

@media only screen and (max-width:991px) {
    .dark-mode .horizontalMenu>.horizontalMenu-list {
        background: #30304d
    }
}

.dark-menu .side-menu__item.active, .dark-menu .side-menu__item.active .side-menu__icon, .dark-menu .side-menu__item:focus .side-menu__icon, .dark-menu .side-menu__item:hover, .dark-menu .side-menu__item:hover .side-menu__icon {
    color: #8c63f3
}

.color-menu .app-sidebar {
    background: #6259ca!important
}

.color-menu .side-header {
    background: #6259ca;
    border-bottom: 1px solid #7d76c5
}

.color-menu .side-menu__item.active, .color-menu .side-menu__item.active .side-menu__icon, .color-menu .side-menu__item:focus, .color-menu .side-menu__item:focus .side-menu__icon, .color-menu .side-menu__item:hover, .color-menu .side-menu__item:hover .side-menu__icon {
    color: #fff!important
}

.color-menu .side-menu h3 {
    color: #b3aee8!important
}

.color-menu .side-menu .side-menu__icon, .color-menu .side-menu .side-menu__item {
    color: #cccef5!important
}

.color-menu .side-menu__item:focus, .color-menu .side-menu__item:hover {
    background: #7772dc!important;
    color: #fff!important
}

.color-menu .side-menu__item:focus .side-menu__icon, .color-menu .side-menu__item:focus .side-menu__label, .color-menu .side-menu__item:hover .side-menu__icon, .color-menu .side-menu__item:hover .side-menu__label {
    color: #fff!important
}

.color-menu .slide.is-expanded a {
    color: #cccef5!important
}

.color-menu .side-menu__item, .color-menu .slide-item, .color-menu .slide-menu li .slide-item:before {
    color: #cccef5
}

.gradient-menu .side-menu__item.active, .gradient-menu .side-menu__item.active .side-menu__icon, .gradient-menu .side-menu__item:focus, .gradient-menu .side-menu__item:focus .side-menu__icon, .gradient-menu .side-menu__item:hover, .gradient-menu .side-menu__item:hover .side-menu__icon {
    color: #ccc9ec!important
}

.gradient-menu .side-menu__item:focus .side-menu__icon, .gradient-menu .side-menu__item:focus .side-menu__label, .gradient-menu .side-menu__item:hover .side-menu__icon, .gradient-menu .side-menu__item:hover .side-menu__label {
    color: #ccc9ec
}

.color-menu.sidemenu-bgimage .app-sidebar:before, .color-menu.sidemenu-bgimage .side-header:before {
    background: rgba(98, 89, 202, .94)
}

.color-hor-menu .horizontal-main.hor-menu, .dark-mode.color-hor-menu .horizontal-main.hor-menu, .light-mode.color-hor-menu .horizontal-main.hor-menu, .transparent-mode.color-hor-menu .horizontal-main.hor-menu {
    background: #6259ca
}

@media (max-width:767px) {
    .color-hor-header .mobile-header {
        background: #6259ca
    }
    .color-menu .mobile-header {
        background: #6259ca!important
    }
}

@media only screen and (max-width:991px) {
    .color-hor-menu .horizontalMenu>.horizontalMenu-list {
        background: #6259ca
    }
    .color-hor-menu .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu {
        background-color: #3d357d
    }
    .color-hor-menu .mega-menubg {
        background: #3d357d!important
    }
    .color-hor-menu .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu {
        background-color: #393275
    }
    .color-hor-menu .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li a {
        background-color: #3d357d!important
    }
}


